.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

/* nav style */

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 150px 35px 150px;

}

.nav-name {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 800;
}

.nav-btn {

    width: 180px;
    height: 40px;
    justify-content: center;
    align-items: center;
    padding: 17px 24px 17px 24px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
}

/* banner style */

.banner {
    height: 652px;
    width: 1440px;
    background-image: url("../assets/Hero-bg.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-image-text {
    width: 990px;
    margin: 0 auto;
    text-align: center;

}

.banner-text {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 35px;
    font-weight: 800;
    line-height: 60px;
    text-align: center;
}

.banner-description {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin: 24px 0px;
}


.primary-btn {
    width: 208px;
    height: 66px;
    padding: 21px 24px 21px 24px;
    color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
    border-radius: 8px;
    background: rgb(13, 19, 33);
}

/* main section style */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* developer section */
.developer {
    margin-top: 74px;
    padding: 80px 97px 80px 97px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}

.development {
    justify-content: center;
    text-align: center;
}

.development-text {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
}

.development-description {
    margin-top: 24px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

/* coding changer style */
.coding {
    width: 946px;
    margin-top: 48px;
    padding: 40px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    gap: 90px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
}

.coding-text {
    width: 477px;

}

.coding-text-title {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
}

.coding-text-description {
    margin-top: 16px;
    margin-bottom: 32px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}

.coding-btn {
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    width: 150px;
    height: 48px;
    justify-content: center;
    align-items: center;
    padding: 12px 20px 12px 20px;
}

.coding-image {
    width: 274px;
}



.modern-web {
    width: 946px;
    margin-top: 48px;
    padding: 40px;
    display: flex;
    justify-content: center;
    gap: 90px;
}

.modern-web-image {
    width: 274px;
}

.modern-web-text {
    width: 477px;

}

.modern-web-title {
    width: 477px;
    height: 72px;
    justify-content: center;
    margin: 16px 0px;

}

.modern-web-description {
    width: 468px;
    height: 52px;
    justify-content: center;
    margin: 16px 0px;
}

.coding-change {
    width: 946px;
    margin-top: 48px;
    padding: 40px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    gap: 90px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);

}

.coding-change-text {
    width: 477px;


}

.coding-change-title {
    width: 390px;
    height: 72px;
    justify-content: center;
    margin: 16px 0px;

}

.coding-change-description {
    width: 468px;
    height: 52px;
    justify-content: center;
    margin: 16px 0px;

}

.coding-change-image {
    width: 274px;
}

/* Inspiration section */
.inspiration {
    margin-top: 88px;
    justify-content: center;
    text-align: center;
}

.my-inspiration {
    width: 852px;
    justify-content: center;
    text-align: center;
    padding: 0px 144px;
}

.my-inspiration-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
}

.my-inspiration-description {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

.video {
    margin-top: 48px;
    width: 1080px;
    padding: 32px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;

}

.target {
    margin-top: 150px;

}

.current-target {
    width: 852px;
    padding: 0px 144px;
    justify-content: center;
    text-align: center;
}

.current-target-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
}

.current-target-description {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

/* card section */
.card-container {
    display: flex;
    margin-top: 48px;
    gap: 24px;

}

.html-card {
    padding: 40px 40px 0px 40px;
}

.html-container {
    width: 364px;

    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}

.css-card {
    padding: 40px 40px 0px 40px;
}

.css-container {
    width: 364px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);

}

.javascript-card {
    padding: 40px 40px 0px 40px;
}

.javascript-container {
    width: 364px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}

/* next target */
.next-target {
    margin-top: 111px;
}

.next-target-text {
    width: 852px;
    padding: 0px 144px;
    justify-content: center;
    text-align: center;
}

.next-target-tittle {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;

}

.next-target-description {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

.next-target-card-container {
    margin-top: 48px;
}

.react-card {
    display: flex;
    align-items: center;
    gap: 24px;
    height: 180px;
    padding: 30px;
    margin: 50px 24px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

.node-card {
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 24px;
    height: 180px;
    padding: 30px;
    margin: 50px 24px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

.mongo-card {
    display: flex;
    align-items: center;
    gap: 24px;
    height: 180px;
    padding: 30px;
    margin: 50px 24px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

/* support section */
.support-image {
    height: 250px;
    border-radius: 16px;
    margin-top: 46px;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2)), url(../assets/handshake.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 64px 48px;
}

.support-text {
    width: 730px;
    margin: 0 auto;
    text-align: center;


}

.title {

    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    text-align: center;

}

.description {
    margin-top: 16px;
    margin-bottom: 24px;
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

.input-btn {
    width: 548px;
    height: 57px;
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    border: 2px solid rgba(13, 19, 33, 0.15);
    padding: 19px 20px 19px 20px;
}

.submit-btn {
    width: 120px;
    height: 58px;
    justify-content: center;
    align-items: center;
    padding: 17px 20px 17px 20px;
    margin: 0px 16px;

}

/* footer */
footer {
    margin-top: 80px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 100px;
    padding: 32px 150px 32px 150px;

}

.footer-social-media {
    display: flex;
    gap: 32px;
}